//- src/views/components/footer.pug

footer.footer__container
  .container
    .footer__content
      .footer__item.footer__item_first
        a(href="") 
          img(src=require('images/footer_logo.png').default, alt="").footer__logo--image 
        .footer__copy
          .footer__text.foote-text-pizz © 2021 Chili Pizza
      .footer__item
        p.footer__title Сайт
        nav.footer__nav
          a.footer__nav--item.footer__link Главная
          a.footer__nav--item.footer__link Меню
          a.footer__nav--item.footer__link О нас
          a.footer__nav--item.footer__link Акции
          a.footer__nav--item.footer__link Доставка
          a.footer__nav--item.footer__link Контакты
      .footer_box
        .footer__item
          p.footer__title Информация
          nav.footer__nav
            a.footer__nav--item.footer__link Школа поварят
            a.footer__nav--item.footer__link Оформление заказа
            a.footer__nav--item.footer__link Отзывы и предложенич
        .footer__item
          p.footer__title Доставка
          nav.footer__nav
            .footer__info С 10:00 до 22:30
            .footer__info Без выходных
        .footer__item
          p.footer__title Контакты
          a.footer__link.footer__link--large +7 (978) 016-11-61  
          a.footer__link.footer__link--large +7 (978) 016-11-61  
        .footer__item
          p.footer__title Будьте с нами
          ul.footer__socials
            li.social
              a.social__link
                img(src=require('images/icons/foot-fa-vk.png').default)
            li.social
              a.social__link
                img(src=require('images/icons/foot-fa-instagram.png').default)
            li.social
              a.social__link
                img(src=require('images/icons/foot-fa-facebook.png').default)        
        .footer__item
          p.footer__title Адрес
          nav.footer__nav
            .footer__info г. Симферополь,
            .footer__info ул.Ковыльная, д.94, ТЦ Жемчужный
        .footer__item
          p.footer__title Создано в студии
          a(href="").footer__link.footer__link--large
            img(src=require('images/stud.png').default)




